@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: Amatic SC, sans-serif;
}